html {
  background-color: lightgoldenrodyellow;
}

text {
  font-size: 1.3em;
}

.globe {
  fill: lightblue;
}

.land {
  fill: peachpuff;
  stroke: #FFF;
  stroke-width: 0.7px;
}
.land:nth-child(2n) {
  fill: rgb(6, 70, 95);
}

.land:nth-child(3n) {
  fill: rgb(199, 199, 129);
}

.land:nth-child(4n) {
  fill: rgb(190, 150, 202);
}

.land:nth-child(5n) {
  fill: lightpink;
}

.land:nth-child(6n) {
  fill: teal;
}

.land:nth-child(7n) {
  fill: rgb(180, 125, 125);
}

.land:nth-child(8n) {
  fill: rgb(146, 114, 168);
}

.land:nth-child(9n) {
  fill: rgb(69, 97, 97);
}

.land:nth-child(10n) {
  fill: rgb(92, 170, 103);
}


.land:hover {
  fill: lightsalmon;
  stroke-width: 1px;
}

.focused {
  fill:red;
}

 select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countrySearch {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 1px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}